/eclipse/*
/eclipse/Minecraft/nbproject/private/
/eclipse/Minecraft/build/
/eclipse/Minecraft/dist/
/eclipse/Minecraft/bin/*

*.log
/temp/*
/bin/*
/eclipse\Minecraft\bin\*.class

/src/minecraft/*
!/src/minecraft/monnef
!/src/minecraft/buildcraft
!/src/minecraft/forestry
!/src/minecraft/extrabiomes

/jars/*
!/jars/coremods/
#!/jars/coremods/monnefCore_dummy.jar
/forge/*
/runtime/*

/jar_output/*
/jar_output/tmp/*
!/jar_output/tmp/.placeholder
/jar_output/dist/*
/reobf
/conf
/docs
/bin_data/old/*

/lib/argo-3.2-src.jar
/lib/asm-4.1.tar.gz
/lib/asm-debug-all-4.1.jar
/lib/bcprov-debug-jdk15on-148.jar
/lib/bcprov-jdk15on-148-src.zip
/lib/guava-14.0-rc3-sources.jar
/lib/guava-14.0-rc3.jar
/CHANGELOG
/LICENSE.txt
/cleanup.bat
/cleanup.sh
/decompile.bat
/decompile.sh
/getchangedsrc.bat
/getchangedsrc.sh
/recompile.bat
/recompile.sh
/reformat.bat
/reformat.sh
/reobfuscate.bat
/reobfuscate.sh
/reobfuscate_srg.bat
/reobfuscate_srg.sh
/startclient.bat
/startclient.sh
/startserver.bat
/startserver.sh
/updateids.bat
/updateids.sh
/updatemcp.bat
/updatemcp.sh
/updatemd5.bat
/updatemd5.sh
/updatenames.bat
/updatenames.sh
/CHANGELOG
/LICENSE.txt
/cleanup.bat
/cleanup.sh
/decompile.bat
/decompile.sh
/getchangedsrc.bat
/getchangedsrc.sh
/lib/argo-3.2-src.jar
/lib/asm-4.1.tar.gz
/lib/asm-debug-all-4.1.jar
/lib/bcprov-debug-jdk15on-148.jar
/lib/bcprov-jdk15on-148-src.zip
/lib/guava-14.0-rc3-sources.jar
/lib/guava-14.0-rc3.jar
/recompile.bat
/recompile.sh
/reformat.bat
/reformat.sh
/reobfuscate.bat
/reobfuscate.sh
/reobfuscate_srg.bat
/reobfuscate_srg.sh
/startclient.bat
/startclient.sh
/startserver.bat
/startserver.sh
/updateids.bat
/updateids.sh
/updatemcp.bat
/updatemcp.sh
/updatemd5.bat
/updatemd5.sh
/updatenames.bat
/updatenames.sh
/bin_data/jaffas_mappings.ser
/bin_data/hd_armor.png
/bin_data/mods/Jaffas and more!/textures/items/gun.png
/bin_data/mods/Jaffas and more!/textures/items/test.png