/eclipse/*
/eclipse/Minecraft/nbproject/private/
/eclipse/Minecraft/build/
/eclipse/Minecraft/dist/
/eclipse/Minecraft/bin/*

*.log
/temp/*
/bin/*
/eclipse\Minecraft\bin\*.class

/src/minecraft/*
!/src/minecraft/monnef
#!/src/minecraft/buildcraft
!/src/minecraft/forestry
!/src/minecraft/extrabiomes
!/src/minecraft/powercrystals
!/src/minecraft/codechicken
!/src/minecraft/thermalexpansion

/jars/*
/jars_old/*
/src_old/*
/src_orig/*
!/jars/coremods/
!/jars/mods/
#!/jars/coremods/monnefCore_dummy.jar
/forge/*
/runtime/*

/jar_output/*
/jar_output/tmp/*
!/jar_output/tmp/.placeholder
/jar_output/dist/*
/reobf
/conf
/docs
/bin_data/old/*
/cloak_issue_with_ThermalExpansion/*

/lib/argo-3.2-src.jar
/lib/asm-4.1.tar.gz
/lib/asm-debug-all-4.1.jar
/lib/bcprov-debug-jdk15on-148.jar
/lib/bcprov-jdk15on-148-src.zip
/lib/guava-14.0-rc3-sources.jar
/lib/guava-14.0-rc3.jar
/CHANGELOG
/LICENSE.txt
/cleanup.bat
/cleanup.sh
/decompile.bat
/decompile.sh
/getchangedsrc.bat
/getchangedsrc.sh
/recompile.bat
/recompile.sh
/reformat.bat
/reformat.sh
/reobfuscate.bat
/reobfuscate.sh
/reobfuscate_srg.bat
/reobfuscate_srg.sh
/startclient.bat
/startclient.sh
/startserver.bat
/startserver.sh
/updateids.bat
/updateids.sh
/updatemcp.bat
/updatemcp.sh
/updatemd5.bat
/updatemd5.sh
/updatenames.bat
/updatenames.sh
/CHANGELOG
/LICENSE.txt
/cleanup.bat
/cleanup.sh
/decompile.bat
/decompile.sh
/getchangedsrc.bat
/getchangedsrc.sh
/lib/argo-3.2-src.jar
/lib/asm-4.1.tar.gz
/lib/asm-debug-all-4.1.jar
/lib/bcprov-debug-jdk15on-148.jar
/lib/bcprov-jdk15on-148-src.zip
/lib/guava-14.0-rc3-sources.jar
/lib/guava-14.0-rc3.jar
/recompile.bat
/recompile.sh
/reformat.bat
/reformat.sh
/reobfuscate.bat
/reobfuscate.sh
/reobfuscate_srg.bat
/reobfuscate_srg.sh
/startclient.bat
/startclient.sh
/startserver.bat
/startserver.sh
/updateids.bat
/updateids.sh
/updatemcp.bat
/updatemcp.sh
/updatemd5.bat
/updatemd5.sh
/updatenames.bat
/updatenames.sh
/bin_data/jaffas_mappings.ser
/bin_data/hd_armor.png
/bin_data/mods/Jaffas and more!/textures/items/gun.png
/bin_data/mods/Jaffas and more!/textures/items/test.png
/bin_data/monnef_mappings.ser
/lib/scala-library.jar
/utils/tidyObj/out
/jars/mods/*
!/jars/mods/monnefCore_dummy.jar

/lib/monnef/*

/logs/client_compile.log.scala

/javscal.txt
/src/minecraft/monnef/cloc_stats.txt
/src/minecraft/monnef/cloc-1.60.exe
/BON.jar

/build
/.gradle
/gradlew
/gradlew.bat
/out
/gradle
/CREDITS-fml.txt
/forge*.txt
/LICENSE*.txt
/MinecraftForge*.txt
/README.txt
/src/main/java/monnef/core
/src/main/scala/monnef/core
/src/main/java/buildcraft


/lib/CodeChickenCore*
/lib/forestry*
/lib/hamcrest-core*
/lib/NotEnoughItems*
/lib/junit*


/utils/god2lang/dumpTroublemakers.sh
/utils/god2lang/gameObjects.lang
